/*Custom CSS */

/*Material icons*/
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(./fonts/MaterialIcons-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Material Icons Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/MaterialIconsOutlined-Regular.otf) format('opentype');
}

.material-icons {
    font-family: 'Material Icons', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.material-icons-outlined {
    font-family: 'Material Icons Outlined', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
/*End Material Icons*/
@font-face {
    font-family: 'roboto';
    src: local('Roboto'),
    url("./fonts/Roboto-Regular.ttf") format("truetype"),
    url("./fonts/Roboto-Bold.ttf") format("truetype");
    url("./fonts/Roboto-Medium.ttf") format("truetype"),
    url("./fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
    font-family: 'roboto bold';
    src: local('Roboto Bold'),
    url("./fonts/Roboto-Bold.ttf") format("truetype");
}

:root {
    --light-blue: #E7F2F8;
    --dark-blue: #74BDCB;
    --darker-blue: #658EA9;
    --midnight-blue: #2F4A60;
    --salmon: #FA8072;
    --light-yellow: #EFE7BC;
    --dark: #333428;
    --light: #f7f7f7;
    --linear-salmon-white: linear-gradient(var(--salmon), var(--light));
}
main {
    .txt-salmon {
        color: var(--salmon);
    }
    .txt-darker-blue {
        color: var(--darker-blue);
    }
    .txt-midnight-blue {
        color: var(--midnight-blue);
    }
}

body {
    color: var(--dark);
    font-family: 'roboto', serif;
    font-weight: lighter;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'roboto', serif;
    font-weight: normal;
    margin: 1rem 0;
}
h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.3rem;
}
h3 {
    font-size: 1.2rem;
}
h4,h5,h6 {
    font-size: 1rem;
    font-weight: 100;
}
p {
    font-size: 1rem;
}

header {
    background-color: var(--light);
    font-weight: 100;
}
body > header {
    padding: 0 5%;
    font-size: 0.9rem;
}
main.container-padding {
    padding: 1.5rem 0;
}
footer {
    font-size: 15px;
    padding: 0 5%;
    background-color: var(--dark);
    color: var(--light);
    h5 {
        color: var(--light);
    }
    form {
        input[type="email"], input[type="submit"] {
            padding: .5rem;
        }
    }
}
a {
    text-decoration: none;
    color: var(--dark);
    &:hover {
        color: var(--midnight-blue);
    }
}
input[type="input"] {
    padding: 0.3rem;
}
/*HTML Elements Styling End*/

.flex-space-between {
    display: flex;
    justify-content: space-between;
}
a.add-cart {
    display: flex;
    border: solid 1px var(--darker-blue);
    border-radius: 5px;
    padding: 0.3rem;
    color: var(--darker-blue);
    &:hover {
        background-color: var(--darker-blue);
        color: var(--light);
    }
}
.category {
    font-size: 0.7rem;
}
a.category-link {
   color: var(--darker-blue);
    font-size: 0.7rem;
}
.logo {
    display: flex;
    align-items: center;
}
nav .nav-profile-img {
    width: 3rem;
    overflow: hidden;
    img{
        border-radius: 50%;
    }
}
.product-price {
    color: var(--dark);
    font-weight: bold;
}
.product-info {
    font-size: 0.8rem;
}
.rating {
    color: var(--salmon);
}
.header-large {
    height: 60vh;
    background-size: cover;
    background-position: 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    h2{
        font-size: 2rem;
        color: var(--light);
    }
}
.shopping-cart {
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart-icon {
    position: relative;
    .cart-amount {
        width: 1rem;
        height: 1rem;
        top: .3rem;
        right: 0;
        transform: translateX(-50%);
        font-size: .5rem;
        font-weight: 400;
        position: absolute;
        display: flex;
        justify-content: center;
        border-radius: 100%;
        padding: .1rem;
        background-color: var(--salmon);
        color: var(--light);
    }
}
div.table-container{
    overflow-x: auto;
}

table.cart-price {
    .delete-product a {
        color: var(--salmon);
        border-radius: 50%;
        &:hover{
            color: var(--dark-blue);
        }
    }
    tr:last-child {
        td {
            background-color: var(--light);
        }
    }
    td form {
        display: flex;
        input[type="number"] {
            height: auto;
            padding: .3rem;
            width: 4rem;
        }
        button {
            padding: .3rem;
            width: 2rem;
        }
    }
    td:nth-child(5) {
        text-align: right;
        span {
            float: left;
        }
    }
    .total-price {
        font-family: "roboto bold", serif;
    }
    .user-img {
        img {
            border-radius: 50%;
        }
    }
}
form {
    select.role-option {
        padding: .2rem;
        min-width: 5rem;
    }
}
.checkout {
    width: 100%;
    display: flex;
    justify-content: right;
    input[type="submit"] {
        width: 30%;
    }
}
div.success {
    padding: 1rem;
    border-radius: 5px;
    background-color: lightgreen;
}
div.error {
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--salmon);
}

.login {
    text-align: center;
}
main.login-container {
    max-width: 50%;
}
.salmon {
    color: var(--salmon);
}
.logged-in {
    position: relative;
    .logout {
        padding: .5rem;
        background-color: var(--light);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(90%);
        opacity: 0;
        transition: all 300ms ease;
        z-index: 0;
        li {
            display: flex;
            align-items: center;
            width: 100%;
            padding: .1rem;
            justify-content: space-around;
            span {
                padding: .5rem;
            }
        }
    }
    &:hover {
        > .logout {
            opacity: 1;
            transform: translateY(100%);
            z-index: 9999;
        }
    }
}

form.register {
    span.error {
        color: var(--salmon);
    }
}

.register-link {
    color: var(--salmon);
}

.profile-pic {
    img {
        display: block;
        height: 10rem;
    }
}
form .register-gender {
    display: flex;
}

section.custom-grid {
    grid-template-columns: 25% 75%;
}
table.cart-price {
    font-size: .8rem;
    td.product-img,
    td.user-img{
        max-width: 2rem;
    }
    td.product-desc {
        font-size: .6rem;
    }
    td.edit-product {
        a {
            color: var(--salmon);
            transition: color 250ms ease-in-out;
            &:hover{
                color: var(--darker-blue);
            }
        }

    }
}
.full-height {
    min-height: 100vh;
}
.side-menu a.selected {
    color: var(--salmon);
}

div.add-new {
    float: right;
}
form.delete-category {
    display: flex;
    input[type="submit"] {
        width: inherit;
        margin-right: .3rem;
    }

}
form.form-edit {
    span {
        color: var(--salmon);
    }
}

@media (max-width: 768px) {
    .category {
        font-size: 1rem;
    }
    a.category-link {
        font-size: 1rem;
    }
    h4,h5,h6 {
        font-size: 1.5rem;
        font-weight: 100;
    }
    .product-info {
        font-size: 1.2rem;
    }
    section.custom-grid {
        grid-template-columns: auto;
    }
}

